.about {
    padding: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url('../../static/image/aboutusbg.jpg');
    background-blend-mode: overlay;
    overflow: hidden;

  }
  

  .skillsSection {
    justify-self: left; 
    text-align: center;
    padding: 0px 20px;

}

.skillsSection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.skillsGrid {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.skill {
    justify-self: left;
    background: white;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.skill img {
    border-radius: 10px;

    width: 100%;
    height: 100%;
    object-fit: cover;
    
   
}

.skill p {
    
    font-size: 1.1rem;
    font-weight: bold;
    color: blue;
}

.skill:hover {
    transform: translateY(-2px) scale(1.05); /* Moves slightly & enlarges */
   
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}

.icon {
    display: inline-block;
}


@media (max-width: 768px) {
    .skillsGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Slightly larger minimum width */
        gap: 15px;
        max-width: 100%; /* Adjust width to fit container */
        margin: auto;
        padding: 0 10px; /* Adds padding for better spacing */
    }
}

@media (max-width: 480px) {
    .skillsGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Keeps 2 columns */
        gap: 10px; /* Reduces gap for better spacing */
        max-width: 100%;
        margin: auto;
        padding: 0 5px; /* Smaller padding for tighter screens */
    }
}
